.add-post {
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--highlighted);
  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: var(--box-shadow-2);
}

@media screen and (min-width: 1180px) {
  .add-post {
    bottom: 20px;
  }
}
