.carousel {
  font-family: "Elice Digital Baeum", sans-serif;
  position: relative;
  overflow: hidden;
}

.carousel__slider {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.carousel__items {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel__items--moving {
  transition: none;
}

.carousel-item {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
}

.carousel-item__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carousel-item__thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.carousel-item__header {
  padding: 100px 20px 24px;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0)
  );
  background-repeat: no-repeat;
}

.carousel-item__title {
  margin-bottom: 16px;
  font-size: calc(1rem + 3vw);
  color: #f1f1f1;
  line-height: 1.5;
}

.carousel-item__view-more {
  color: #bbb;
}

.carousel__indicators {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 0.2rem;
  justify-content: center;
  color: #f1f1f1;
  font-size: 0.8rem;
  gap: 0.2rem;
  justify-content: center;
}

.carousel__indicator--highlight {
  color: var(--primary);
}

.carousel__button {
  display: none;
}

@media screen and (min-width: 860px) and (any-hover: hover) {
  .carousel__button {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 50%;
    transition: opacity 0.25s ease-in-out;
  }

  .carousel__button:disabled {
    opacity: 0;
  }

  .carousel__button--prev {
    left: 20px;
  }

  .carousel__button--next {
    right: 20px;
  }
}
