.comments-wrap {
  margin-top: 40px;
}

.comments-wrap h3 {
  font-weight: 700;
  margin-bottom: 12px;
}

.comment-form__input-wrap {
  display: flex;
  margin-bottom: 8px;
}

.comment-form__input {
  border: 1px solid var(--gray-4);
  border-radius: 5px;
  width: 100%;
  height: 2.5rem;
  padding: 0 10px;
}

.comment-form__button {
  width: 4rem;
  background-color: var(--primary-pressed);
  color: var(--gray-6);
  border-radius: 5px;
  cursor: pointer;
}

.comment-form__button--submit {
  margin-left: 4px;
}

.comment-form__button--cancel {
  margin-left: 6px;
  background-color: var(--gray-6);
  color: var(--primary-pressed);
  border: 2px solid var(--primary-pressed);
}

.comment-form--reply input {
  margin-top: 12px;
}
