.comments-wrap {
  margin-top: 40px;
}

.comments-wrap h3 {
  font-weight: 700;
  margin-bottom: 12px;
}

.comment-form__input-wrap {
  display: flex;
  margin-bottom: 8px;
}

.comment-form__input {
  width: 100%;
  padding: 10px;
  border: var(--border-thickness) solid var(--gray-5);
  border-radius: 4px;
  transition: border-color 0.25s ease-in-out;
}

.comment-form__input:focus-within {
  border-color: var(--primary);
}

.comment-form__button {
  background-color: var(--primary);
  color: var(--gray-6);
  border: 1px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
  padding: 6px 10px;
}

.comment-form__button--submit {
  flex-shrink: 0;
  padding: 0 14px;
}

.comment-form__button--cancel {
  margin-left: 6px;
  background-color: var(--gray-6);
  color: var(--primary);
  border: 1px solid var(--primary);
}
