.gnb {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  background-color: var(--background-transparency);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  backdrop-filter: blur(8px) saturate(180%);
  box-shadow: var(--box-shadow-1);
  line-height: 60px;
  z-index: 5000;
}

html.dark .gnb {
  box-shadow: none;
}

.gnb__grow {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  gap: 8px;
}

.gnb__grow--right {
  justify-content: flex-end;
}

.gnb__button {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

.gnb__button > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gnb__logo {
  object-fit: contain;
}
