.input {
  position: relative;
  background-color: var(--multipurpose);
  line-height: 1.5;
  border: var(--border-thickness) solid var(--gray-5);
  border-radius: var(--border-radius);
}

.input__label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--primary);
  transform: translate3d(0.75rem, 0, 0);
  transition: transform 0.25s ease-in-out, font-size 0.25s ease-in-out;
}

.input__label--hide {
  font-size: 1rem;
  transform: translate3d(1.05rem, 0.7rem, 0);
  color: var(--gray-2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.input__input:placeholder-shown:not(:focus)
  ~ .input__label:not(.input__label--hide) {
  font-size: 1rem;
  transform: translate3d(0.75rem, 0.7rem, 0);
  color: var(--gray-2);
}

.input__input:placeholder-shown:not(:focus) ~ .input__label--hide {
  opacity: 1;
}

.input__input {
  display: block;
  width: 100%;
  padding: 1rem 0.75rem 0.5rem;
}

textarea.input__input {
  resize: none;
  min-height: max(100%, 9rem);
  overflow: hidden;
}

/*
  중요도 위해 아래처럼 사용함
  수정 금지
*/
.input--image-uploadable > .input__input--image-uploadable {
  padding-bottom: 3rem;
}

.input__upload {
  position: absolute;
  left: 0.7em;
  bottom: 0.3rem;
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--multipurpose-pressed);
  border-radius: 50%;
  font-size: 1.2rem;
}
