/* Body */
.markdown-article {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-5);
  line-height: 1.7;
}

.markdown-article
  :is(p, div, blockquote, h2, h3, h4, h5, h6, ol, ul, table, figure) {
  margin-bottom: 1rem;
}

.markdown-article h2 {
  font-size: 1.75rem;
  padding-bottom: 0.3rem;
  border-bottom: var(--border-thickness) solid var(--gray-5);
}

.markdown-article h3 {
  font-size: 1.45rem;
}

.markdown-article h4 {
  font-size: 1.2rem;
}

.markdown-article h5 {
  font-size: 0.875rem;
}

.markdown-article h6 {
  font-size: 0.85rem;
}

.markdown-article :is(a, a:hover) {
  color: var(--primary);
}

.markdown-article pre {
  white-space: pre-wrap;
}

.markdown-article table {
  border-collapse: collapse;
}

.markdown-article table :is(td, th) {
  padding: 0.5rem;
  border: 3px solid var(--gray-5);
}

.markdown-article table th {
  background-color: var(--gray-5);
}

.markdown-article :is(ol, ul) {
  padding-left: 0.8rem;
}

.markdown-article ol li {
  list-style: decimal inside;
}

.markdown-article ul li {
  list-style: disc inside;
}

.markdown-article ul ul li {
  list-style: circle inside;
}

.markdown-article ul ul ul li {
  list-style: square inside;
}
