.navigation {
  display: flex;
  width: 100%;
  padding: 0 10px;
  border-bottom: 1px solid var(--gray-5);
}

.navigation__item {
  padding: 0.5rem;
  line-height: 1.5;
}

.navigation__item--highlight {
  color: var(--primary);
  -webkit-box-shadow: inset 0px -5px 0px 0px var(--primary);
  box-shadow: inset 0px -5px 0px 0px var(--primary);
}
