.post-list-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.post-list__card {
  width: 300px;
  height: 350px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.post-list__card.complete {
  background-color: var(--multipurpose);
  color: var(--gray-5);
}

.card-title {
  font-size: 1.125rem;
  font-weight: 600;
}

.card-contents {
  font-size: 0.875rem;
  color: var(--gray-2);
}

.card-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card-area,
.card-member {
  color: var(--gray-1);
  display: flex;
  align-items: center;
}

.card-member {
  justify-content: space-between;
}

.card-member__is-completed {
  margin-right: 20px;
  color: var(--forest-base);
  background-color: var(--material-submit-second);
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
}

.card-member__is-completed.complete {
  color: var(--warning);
  background-color: var(--warning-second);
}

.card-member__icon,
.card-area__icon {
  margin-right: 5px;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-tag {
  color: var(--primary);
  background-color: var(--primary-second-pressed);
  padding: 0.375rem 0.75rem;
  border-radius: 8px;
}
