.list-item__link {
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  gap: 5px;
  line-height: 1.7rem;
  background-color: var(--background-base);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-1);
}

.list-item__header {
  display: flex;
}

.list-item__info {
  display: flex;
  margin-left: 8px;
  align-items: center;
  color: var(--gray-2);
  font-size: 0.875rem;
}

.list-item__title {
  position: relative;
  max-height: 4.5rem;
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
  overflow: hidden;
}

.list-item__title::after {
  content: "";
  position: absolute;
  top: 2.25rem;
  right: 0;
  width: 30%;
  height: 2.25rem;
  background: linear-gradient(45deg, transparent, var(--background-base) 90%);
  background: -webkit-linear-gradient(
    45deg,
    transparent,
    var(--background-base) 90%
  );
}

.list-item__excerpt {
  position: relative;
  max-height: 3rem;
  margin-bottom: 0.4rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  overflow: hidden;
}

.list-item__excerpt::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  right: 0;
  width: 30%;
  height: 1.5rem;
  background: linear-gradient(45deg, transparent, var(--background-base) 90%);
  background: -webkit-linear-gradient(
    45deg,
    transparent,
    var(--background-base) 90%
  );
}

.list-item__info-icon {
  margin-right: 5px;
}

svg.list-item__info-icon {
  width: 0.875rem;
  height: 0.875rem;
}

.list-item__author {
  font-size: 0.75rem;
  color: var(--primary);
}

/* Skeleton */
@keyframes loading-list-item {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(2000%, 0, 0);
  }
}

.list-item--skeleton {
  position: relative;
  color: transparent;
  overflow: hidden;
}

.list-item--skeleton > .list-item__link {
  height: calc(1.7rem + 41px);
}

.list-item--skeleton::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 5%;
  height: 80%;
  background-image: linear-gradient(
    90deg,
    var(--background-base),
    var(--gray-5),
    var(--background-base)
  );
  animation: loading-list-item 1s ease-in-out infinite;
}
