.list-item__link {
  display: flex;
  padding: 30px;
  flex-direction: column;
  line-height: 1.7rem;
  background-color: var(--background-base);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-1);
}

.list-item__header {
  display: flex;
  margin-top: 8px;
}

.list-item__info {
  display: flex;
  margin-left: 8px;
  align-items: center;
  color: var(--gray-2);
  font-size: 0.875rem;
}

.list-item__info-icon {
  margin-right: 5px;
}

svg.list-item__info-icon {
  width: 0.875rem;
  height: 0.875rem;
}

.list-item__author {
  font-size: 0.75rem;
  color: var(--primary);
}

/* Skeleton */
@keyframes loading-list-item {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(2000%, 0, 0);
  }
}

.list-item--skeleton {
  position: relative;
  color: transparent;
  overflow: hidden;
}

.list-item--skeleton > .list-item__link {
  height: calc(1.7rem + 41px);
}

.list-item--skeleton::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 5%;
  height: 80%;
  background-image: linear-gradient(
    90deg,
    var(--background-base),
    var(--gray-5),
    var(--background-base)
  );
  animation: loading-list-item 1s ease-in-out infinite;
}

@media screen and (min-width: 680px) {
  .list-item__link {
    flex-direction: row;
    align-items: center;
  }

  .list-item__title {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 2;
  }

  .list-item__header {
    margin-top: 0;
    margin-left: auto;
    flex-shrink: 0;
  }
}
