.post-list-card-wrapper {
  display: flex;
  margin-top: 16px;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-item {
  width: 100%;
  border-radius: var(--border-radius);
  padding: 20px;
  line-height: 1.7;
  box-shadow: var(--box-shadow-2);
}

.card-item__link {
  display: flex;
  flex-direction: column;
}

.card-item--completed {
  background-color: var(--multipurpose);
  color: var(--gray-5);
}

.card-item__status {
  padding: 0.25rem 0.5rem;
  background-color: var(--material-submit-second);
  color: var(--forest-base);
  border-radius: 8px;
  font-size: 0.8rem;
}

.card-item__status--completed {
  color: var(--warning);
  background-color: var(--warning-second);
}

.card-item-title {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.card-item-contents {
  font-size: 0.875rem;
  color: var(--gray-2);
}

.card-item__icon {
  display: flex;
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card-item__info {
  display: flex;
  margin-bottom: 0.8rem;
  align-items: center;
  color: var(--gray-1);
}

.card-item__info-icon {
  margin-right: 5px;
}

.card-item__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-item__tags > li {
  color: var(--primary);
  background-color: var(--primary-second-pressed);
  padding: 0.2rem 0.6rem;
  border-radius: 8px;
  font-size: 0.8rem;
}

@media screen and (min-width: 680px) {
  .post-list-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-item {
    height: 100%;
  }
}

@media screen and (min-width: 860px) {
  .post-list-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1160px) {
  .post-list-card-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
