.theme-switch {
  position: relative;
  width: 40px;
  height: 40px;
}

.theme-switch__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  fill: var(--body);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

html.dark .theme-switch__icon--light,
html:not(.dark) .theme-switch__icon--dark {
  transform: translate3d(-50%, -50%, 0) scale(0.5) rotate(180deg);
  opacity: 0;
}
