.editor__item:not(:last-child) {
  margin-bottom: 10px;
}

.editor__item:last-child {
  display: flex;
  margin-top: 60px;
  justify-content: flex-end;
  gap: 10px;
}

.editor__item--container {
  position: relative;
  line-height: 1.5;
}

.selected-tags:not(:empty) {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  padding: 1rem;
  line-height: 1.5;
  flex-wrap: wrap;
  background-color: var(--multipurpose);
  border: var(--border-thickness) solid var(--gray-5);
  border-radius: var(--border-radius);
}

.selected-tags__tag {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.suggested-tags:not(:empty) {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: clamp(0px, 100%, 300px);
  padding: 10px;
  background-color: var(--multipurpose);
  border: var(--border-thickness) solid var(--gray-5);
  border-radius: var(--border-radius);
  z-index: 10;
}

.suggested-tags__tag {
  display: block;
}

.suggested-tags__tag > button {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  line-height: 1.5;
}

.suggested-tags__tag:not(:last-child) > button {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: var(--border-thickness) solid var(--gray-5);
}

.tag-form:not(:focus-within) > .suggested-tags {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.tag-form:focus-within > .suggested-tags {
  opacity: 1;
  pointer-events: all;
}
