/* Header */
.details-header__contents {
  display: flex;
  margin-bottom: 16px;
  padding-bottom: 16px;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--gray-5);
  line-height: 1.5;
  font-size: 0.8rem;
}

.details-header__subject {
  color: var(--forest-base);
  margin-right: 8px;
}

.details-header__author {
  color: var(--primary);
  margin-right: 8px;
}

.details-header__created {
  color: var(--gray-3);
}

.details-header__views {
  margin-left: auto;
}

.header-container {
  display: flex;
  border-bottom: 1px solid var(--gray-5);
  padding-bottom: 1rem;
  justify-content: space-between;
}

.header-container__subject {
  color: var(--forest-base);
}

.header-container__created {
  color: var(--gray-3);
}

/* Body */
.details-body__tags {
  display: flex;
  margin-bottom: 16px;
  font-size: 2rem;
  gap: 8px;
}

.details-body__info > i {
  margin-right: 5px;
}

.details-body__content {
  margin: 24px 0;
}

/* Member List */
.member-list__title {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.member-list__container {
  display: grid;
  margin-bottom: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.member-list__item {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 680px) {
  .member-list__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 860px) {
  .member-list__container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1160px) {
  .member-list__container {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* Buttons */
.details-body__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.details-body__button {
  position: relative;
  display: flex;
  padding: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--border-thickness) solid var(--primary);
  border-radius: 50%;
}

.details-body__button > i {
  font-size: 1.4rem;
}

.details-body__button > svg {
  width: 1.4rem;
  height: 1.4rem;
}

.details-body__button > span + :is(i, svg) {
  transform: translate3d(0, -0.4rem, 0);
}

.details-body__button--activated > :is(i, svg) {
  color: var(--primary);
}

.details-body__button > span {
  position: absolute;
  margin-top: 6px;
  bottom: 0.6rem;
  font-size: 0.6rem;
}
