.detail {
  padding: 3rem;
  margin: 3rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.header {
  font-size: 1rem;
}

.header__title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.header-container {
  display: flex;
  border-bottom: 1px solid var(--gray-5);
  padding-bottom: 1rem;
  justify-content: space-between;
}

.header-container-left,
.header-container-right {
  display: flex;
  justify-content: space-between;
}

.header-container__subject {
  color: var(--forest-base);
  margin-right: 2rem;
}

.header-container__author {
  color: var(--purple-base);
  margin-right: 2rem;
}

.header-container__created {
  color: var(--gray-3);
}

.icon-bookmark,
.icon-bookmark_outline,
.icon-thumb_up {
  margin-right: 1rem;
}

.header-container__bookmark--true {
  color: var(--red-base);
}

.header-container__likes--true {
  color: var(--red-base);
}

.gather-container {
  display: flex;
  border-bottom: 1px solid var(--gray-5);
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.gather-container__members img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}

.content {
  border-bottom: 1px solid var(--gray-5);
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
}
