.home__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: var(--body);
  border-radius: var(--border-radius);
  color: var(--gray-6);
  margin-bottom: 20px;
}

.home__grid {
  display: flex;
  flex-wrap: wrap;
}

.home-posts {
  width: 100%;
  margin-bottom: 1rem;
}

.home-posts__title {
  padding: 20px 0;
  font-size: 1.3rem;
}

.home-posts__footer {
  text-align: right;
  line-height: 2;
}

@media screen and (min-width: 1480px) {
  .home__grid {
    gap: 20px;
  }

  .home-posts:not(.home-posts--large) {
    width: calc((100% - 20px) / 2);
  }
}
