@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:wght@500&display=swap");

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.login-text-wrap {
  text-align: center;
  margin: 20px 0 40px;
}

.login-text__title {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 30px;
}

.login-text__description {
  line-height: 1.5rem;
}

.login-button {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: var(--gray-2);
  border-radius: 4px;
  box-shadow: var(--box-shadow-1);
  padding-right: 16px;
}
