.search-box {
  display: flex;
  margin: 20px 0;
  line-height: 3rem;
  align-items: center;
  border: var(--border-thickness) solid var(--gray-5);
  border-radius: 4px;
}

.search-box:focus-within {
  border-color: var(--primary);
}

.search-box__icon {
  padding: 0 1rem;
  font-size: 1.2rem;
}

.search-box__input {
  width: 100%;
}
